<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div id="product-specs" class="row" style="background: <%= @product.color %>">
  <div class="col s12 no-padding">
    <div class="col s12 m12 l12 xl7 product-slider no-padding">
      <div class="single-item" style="margin: 0px;">
        <div><%= image_tag @product.big_img_one.url %></div>
        <div><%= image_tag @product.big_img_two.url %></div>
      </div>
    </div>
    <div class="col s12 m12 l12 xl5 product-text">
      <div class="container">
        <% if @product.color === "White" %>
          <h2 style="color: #000;"><%= @product.name %></h2>
        <% elsif @product.color === "Black"%>
          <h2 style="color: #fff;""><%= @product.name %></h2>
        <% end %>
        <br>
        <hr>
        <p class="product-type"><%= @product.product_type %></p>
        <p class="product-type"><%= @product.brand %></p>
        <br>
        <% if @product.color === "White"%>
          <p style="color: #000;"><%= @product.description %></p>
          <p style="color: #000;">In store purchase only</p>
        <% elsif @product.color === "Black" %>
          <p style="color: #fff;"><%= @product.description %></p>
          <p style="color: #fff;">In store purchase only</p>
        <% end %>
        <%= link_to "Contact Us", new_contact_path, class: "btn waves-effect waves-light btn-large" %>
        <%= link_to "Visit the Store", "https://www.google.com/maps/dir//6598+TN-100,+Nashville,+TN+37205/@36.0906488,-86.8814413,17z/data=!4m16!1m7!3m6!1s0x886462f5a37dc3fb:0xea62d29c31ebacaa!2s6598+TN-100,+Nashville,+TN+37205!3b1!8m2!3d36.0906445!4d-86.8792526!4m7!1m0!1m5!1m1!1s0x886462f5a37dc3fb:0xea62d29c31ebacaa!2m2!1d-86.8792526!2d36.0906445", target: "_blank", class: "btn waves-effect waves-light btn-large" %>
        
      </div>
    </div>
    <br>
    <br>
  </div>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_product_path(@product), class: "btn orange" %>
    <%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure you want to delete this product?"}, class: "btn red" %>
  <% end %>
</div>



<script>
  $('.single-item').slick({
    arrows: true,
    speed: 500,
    autoplay: true,
    pauseOnHover: false,
    pauseOnFocus: false,
    prevArrow: '<i class="fa fa-angle-left custom-arrow prev "></i>',
    nextArrow: '<i class="fas fa-angle-right custom-arrow next"></i>'
  });
  $('.multiple-items').slick({
    infinite: true,
    speed: 1000,
    slidesToShow: 3,
    slidesToScroll: 3,
    autoplay: true,
    pauseOnHover: false,
    pauseOnFocus: false
  });
</script>