<!DOCTYPE html>
<html>
  <head>
    <title>NashvilleHiFi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>

  
  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <%elsif alert%>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end%>


  <nav class="hide-on-med-and-down">
    <div class="container">
      <div class="nav-wrapper">
        <a href="<% root_path %>" class="brand-logo"><img src="/assets/nashvilleHiFi-logo-white.png" alt="Nashville HiFi" style="max-width: 250px;"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="<%= root_path %>">Home</a></li>
          <% if current_page?(root_path) %>
            <li><a href="#about">About Us</a></li>
            <li><a href="#products">Products</a></li>
          <% else %>
            <li><a href="<%= root_path %>#about">About Us</a></li>
            <li><a href="<%= root_path %>#products">Products</a></li>
          <% end %>
          <li><a href="/qa">QA</a></li>
          <li><a href="<%= new_contact_path %>">Contact</a></li>
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="hide-on-large-only">
    <div class="nav-wrapper">
      <a href="<% root_path %>" class="brand-logo"><img src="/assets/nashvilleHiFi-logo-white.png" alt="Nashville HiFi" style="max-width: 250px;"></a>
      <ul id="slide-out" class="sidenav">
        <li><a class="sidenav-close" href="#!"><i class="material-icons">close</i></a></li>
        <div class="container">
          <h5>Main Menu</h5>
        </div>
        <li><a href="<%= root_path %>">Home</a></li>
        <% if current_page?(root_path) %>
          <li><a href="#about">About Us</a></li>
          <li><a href="#products">Products</a></li>
        <% else %>
          <li><a href="<%= root_path %>#about">About Us</a></li>
          <li><a href="<%= root_path %>#products">Products</a></li>
        <% end %>
        <li><a href="/qa">QA</a></li>
        <li><a href="<%= new_contact_path %>">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
      <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer class="nashville-hifi-footer page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Contact Details</h5>
          <div class="col s12 m4">
            <p><b>Address:</b></p>
            <a href="https://www.google.com/maps/dir//6598+TN-100,+Nashville,+TN+37205/@36.0906488,-86.8814413,17z/data=!4m16!1m7!3m6!1s0x886462f5a37dc3fb:0xea62d29c31ebacaa!2s6598+TN-100,+Nashville,+TN+37205!3b1!8m2!3d36.0906445!4d-86.8792526!4m7!1m0!1m5!1m1!1s0x886462f5a37dc3fb:0xea62d29c31ebacaa!2m2!1d-86.8792526!2d36.0906445">
              6598 TN-100, Nashville, TN 37205
            </a>
          </div>

          <div class="col s12 m2">
            <p><b>Hours:</b></p>
            <p>Monday - Saturday</p>
            <p>9AM - 5PM</p>
          </div>

          <div class="col s12 m2">
            <p><b>Store Number:</b></p>
            <a href="tel:6157998002"> (615) 799-8002</a>
          </div>
        
          <div class="col s12 m3 offset-m1">
            <h5 class="white-text">Nashville HIFI</h5>
            <ul>
              <% if current_page?(root_path) %>
                <li><a href="#!">Join Newsletter</a></li>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/qa">QA</a></li>
                <li><a href="<%= new_contact_path %>">Contact</a></li>
              <% else %>
                <li><a href="#!">Join Newsletter</a></li>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="<%= root_path %>#about">About</a></li>
                <li><a href="http://www.nashvillehifi.com/qa">QA</a></li>
                <li><a href="<%= new_contact_path %>">Contact</a></li>
              <% end %>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Website Designed and Developed by EspinozaBrand
      <a class="grey-text text-lighten-4 right" href="<%= new_user_session_path %>">Sign In</a>
      </div>
    </div>
  </footer>
</html>
